:root {
    /*colors*/
    --bitcouin-orange: #f7921a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-whit: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; 
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--bitcouin-orange) 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-whit);
}

.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    align-self: center;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--just-whit);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span {
    display: inline-block;
    width: 12px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
    background-position: center;
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title {
    width: 90%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/icons/bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: --var(--black);
}


.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-table-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    overflow-x: hidden;
    font-weight: bold;
    font-size: 1.4rem;
    width: 250px;
    margin: 0 auto;
}

.main-table-container--title-table {
    margin: 0 auto;
    text-align: start;
    padding-left: 100px;
    width: 250px;
    padding-left: 20px;
    color: var(--bitcouin-orange);

}

.main-table-container-body-table {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(infinite, 100%);
    text-align: left;
    justify-content: center;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;

}


.main-table-container-body-table div {
    display: flex;
    align-items: center;
    padding: 10px;
    border: solid 0.5px var(--off-white);
    color: var(--grey);
    font-size: 1.6rem;
}

.main-table-container-body-table--name {
    font-weight: 700;
}

.main-table-container-body-table--price {
    display: flex;
    column-gap: 10px;
    font-weight: 500;
}

.currency-table--date {

    margin: 20px auto;
    border: none;
    border-radius: 5px;
    background-color: var(--soft-orange);
    width: 250px;
    height: 30px;
    padding: 5px;
}

.currency-table--date-2 {
    background-color: var(--soft-blue);
}

.main-table-container--title-table-2 {
    color: var(--secondary-blue);
}

.main-table-container--bottoms {
    display: flex;
    position: absolute;
    justify-content: center;
    align-self: center;
    width: 250px;
    height: 250px;
    column-gap: 300px;
    z-index: 12;
}

.main-table-container--arroll-left {
    align-self: center;
    transform: rotate(180deg);
}

.main-table-container--arroll-rigth {
    align-self: center;
}

.main-product-detail {
    display: grid;
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.product-deatil--batata-logo {
    justify-self: center;
    position: absolute;
    width: 41px;
    height: 25px;
    background-image: url('./assets/icons/batata.svg');
    top: -10px;
}

.product-detail-title {
    width: 90%;
    min-width: 288px;
    height: auto;
    text-align: center;
    margin-top: 50px;
}

.product-detail-title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-whit);
}

.product-detail-title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-deatil--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.product-deatil--card span{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.product-deatil--card .clock {
    background-image: url('./assets/icons/clock.svg');
}

.product-deatil--card .eye {
    background-image: url('./assets/icons/eye.svg');
}

.product-deatil--card .dollar-sign {
    background-image: url('./assets/icons/dollar-sign.svg');
}

.product-deatil--card .check-circle {
    background-image: url('./assets/icons/check-circle.svg');
}

.product-card--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-whit);
}

.product-card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;

}

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('./assets/img/bitcoinbaby2x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-whit);
    text-align: center;
}

.plans-container--slider {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;

}

.main-plans-container {
    width: 100%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    text-align: center;
   
}

.plans--title {
    margin-bottom: 50px;
}

.plans--title h2 {
    margin-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans--title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.recomendado {
    position: absolute;
    background-color: var(--bitcouin-orange);
    width: 120px;
    height: 30px;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--just-whit);   
    right: 30px;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.plans-container--card {
    background-color: var(--just-whit);
    width: 190px;
    height: 245px;
    padding-top: 30px;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    padding-bottom: 20px;
}

.plans-container--number {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 6.5rem;
}

.plans-container--number span {
    font-size: 1rem;
    padding-top: 12px;
}

.plans-container--note {
    color: #757575;
    font-weight: 500;
}


.plans-container--slider button {
    display: flex;
    width: 140px;
    height: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    border: 1.5px solid var(--bitcouin-orange);
    border-radius: 3px;
    font-family: "DM Sans", sans-serif;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0 auto;
}

.plans-container--slider button span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/orange-right-arrow.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}